body {
    margin: 0;
}

#webpage {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbar {
    background-color: lightseagreen;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

.navbarsection {
    display: flex;
    gap: 30px;
}

.navbarsection button {
    border: none;
    font-size: 25px;
    padding: 5px;
    border-radius: 6%;
    background-color:lightseagreen;
    color: white;   
}

.navbarsection button:hover {
    background-color: rgb(31, 212, 203);
}

.content {
    height: 100%;
    display: flex;
}

.projectsdiv {
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    flex-basis: 262px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 8px;
}

.defaultprojects {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.customprojects {
    display: flex;
    flex-direction: column;
}

.projectsheading,
.project {
    display: flex;
    justify-content: space-between;
    background-color: rgb(240, 240, 240);
    border: none;
    font-size: 20px;
    align-items: center;
    border-radius: 8%;
}

.project:hover,
#addproject:hover {
    background-color: rgb(220, 220, 220);
}

#addproject {
    border-radius: 10%;
    border: none;
    background-color: rgb(240, 240, 240);
    font-size: 20px;
}

.active {
    background-color: rgb(220, 220, 220);
}

.todosdiv {
    display: flex;
    flex-direction: column;
    padding-left: 90px;
    color: black;
    flex: auto;
    padding-top: 30px;
    padding-right: 110px;
    background-color: white;
}

.heading-node {
    display: flex;
    justify-content: space-between;
}

.todoheading {
    font-size: 30px;
    text-decoration: underline;
    font-weight: bold;
}

.todoitem {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom:solid 1px rgb(240, 240, 240);
}

.todocheck {
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    border: solid 1px;
}

.todoinfodiv {
    display: flex;
    flex-direction: column;
    flex: auto;
    margin: 10px;
    margin-top: 0px;
}

.Urgent {
    border-color: red
}

.Urgent:hover {
    background-color: rgb(255, 140, 140);
}

.Timely {
    border-color: orange;
}

.Timely:hover {
    background-color: rgb(255, 216, 140);
}

.Casual {
    border-color: blue;
}

.Casual:hover {
    background-color: rgb(140, 140, 250);
}

.Low:hover {
    background-color: rgb(140, 140, 140);
}

.taskname {
    font-size: 16px;
}

.taskdescription {
    font-size: 12px;
    color: rgb(136, 136, 136)
}

.taskdate {
    font-size: 12px;
}

.todo-buttons-div {
    display: flex;
}

#addbuttonpage {
    margin-bottom: 20px;
}

.detaildiv {
    display: flex;
    flex-direction: column;
    border: solid 1px rgb(200, 200, 200);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.detailstask {
    font-size: 16px;
    border: none;
    border-bottom: solid 1px rgb(240, 240, 240);
}

.detailsdescription {
    height: 60px;
    flex: auto;
    border:none;
    resize: none;
}

.detailstask:focus, .detailsdescription:focus {
    outline:none;
}

.detailsbottomdiv {
    display: flex;
    gap: 30px;
}

.detailsbottomdiv button,
.cancelbutton,
.todo-buttons-div button,
.heading-node button,
.dropbtn {
    border: 1px solid rgb(220, 220, 220);
    border-radius: 10%;
    background-color: white;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.detailsbottomdiv button:hover,
.cancelbutton:hover,
.todo-buttons-div button:hover,
.heading-node button:hover,
.dropbtn:hover {
    background-color: rgb(240, 240, 240);
}

.detailbuttonsdiv {
    display: flex;
    gap: 30px;
    margin-bottom: 10px;
}

.confirm {
    font-size: 14px;
    color: white;
    background-color: lightseagreen;
    border-radius: 10%;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown button {
    width: 80px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.home-change-div {
    display: flex;
    gap: 50px;
    font-size: 20px;
    align-items: center;
    margin-top: 40px;
}